<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="databaseConnection" connectionString="Data Source=SQL5032.myWindowsHosting.com,1433;MultipleActiveResultSets=true;Initial Catalog=DB_9AB8B7_DDA5414;User Id=DB_9AB8B7_DDA5414_admin;Password=w2DxCQ4n;"/>
    
  </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      
    </system.web>

</configuration>
